<?xml version="1.0"?>
<config>
    <global>
        <helpers>
            <training_cms>
                <class>Training_Cms_Helper</class>
            </training_cms>
        </helpers>
        <models>
            <training_cms>
                <class>Training_Cms_Model</class>
            </training_cms>
        </models>
    </global>
</config>